.btn{
  background-color: red;
  width: fit-content;
  color: white;
  height: auto;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.btn:hover{
  background-color: aqua;
  color:black;
  scale: 0.97;
}